body {
  font-family: "Chakra Petch", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a :active {
  color: gray;
}
img {
  font-size: 30px;
}
li {
  list-style: none;
}
ul {
  padding-top: 20px;
}

#temperature {
  font-size: 60px;
}
#city {
  font-size: 40px;
}
#description {
  font-size: 20px;
  font-weight: 600;
}
#degrees {
  position: relative;
  top: -30px;
}
.head {
  margin-left: 20px;
}
.search-input {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
.submit-button {
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.471);
  border: none;
  border-radius: 10px;
  transition: 250ms ease-in-out;
}
.submit-button:hover {
  background-color: gray;
}
.temp-body {
  margin: 10px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.471);
  border-radius: 20px;
}

.app-body {
  display: block;
  margin: 10px auto;
  margin-top: 30px;
  padding: 10px;
  max-width: 600px;
  border: 2px solid black;
  border-radius: 10px;
}
footer {
  margin-left: 10px;
}
.git-link {
  text-decoration: underline;
  color: rgba(110, 13, 229, 0.971);
}
.git-link :visited {
  color: red;
}
.git {
  font-size: 15px;
}
.git_logo {
  margin-bottom: 2px;
  width: 15px;
  border-radius: 110%;
}
@media (max-width: 360px) {
  #temperature {
    font-size: 50px;
  }
  #degrees {    top: -25px;
  }
}
